.separator {
    background: #f300b4;
    width: 150px;
    height: 2px;
    margin: 1rem 0;
    padding: 0;
  }
  p {
    padding-bottom: 1.5rem;
    color: #555;
    line-height: 1.9rem;
  }

  .skill_img{
    width: 8rem;
    padding: 2rem;
    transition: all 1s; 
  }
  .skill{
    background-color: black;
    color: white;
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img_cnt{
    padding-top: 3rem;
  }

  .skill_img:hover{
    transition: all .5s;
    transform: scale(1.5);
  }